@import "tailwindcss";

.custom-date::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(100%) sepia(100%) saturate(10000%)
    hue-rotate(100deg);
}

.reportBackgroundImage {
  background-image: url("./assets/pexels-rdne-8474991.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.register_loginBG {
  backgroud-image: url("./assets/polar-lights.jpg");
  backgroud-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}
