@import "tailwindcss";

.custom-date::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(100%) sepia(100%) saturate(10000%)
    hue-rotate(100deg);
}

.reportBackgroundImage {
  background-image: url("./assets/pexels-rdne-8474991.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.register_loginBG {
  background-image: url("./assets/polar-lights.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.laundryBG_set {
  background-image: url("./assets/laundry_fold_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.successPageBg {
  background-image: url("./assets/gray_abstract-nature-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.error404Page {
  background-image: url("./assets/404svg.svg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}
