<h2> Liste av forbedring</h2>

<body>
<div>
    <div>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th> Navn: </th>
            <th> Inlegg-ID: </th>
            <th> Melding: </th>
            <th> Dato: </th>
            <th>Email: </th>
            <th> Kategori:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elements of advices" >
            <td> {{elements.authorName}} </td>
            <td> {{elements.posterId}} </td>
            <td> {{elements.informationMessage}} </td>
            <td> {{elements.date}} </td>
            <td> {{elements.emailAddress}} </td>
            <td> {{elements.categoryName}} </td>
        </tr>
    </tbody>
</table>


    </div>
</div>
</body>