
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html" > <img src="washing_machine.svg" alt="Account" class="account_icon" /> VaskKroken</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle"
                         href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                         Min vask</a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="laundryinput.html">Sett vask</a></li>
                            <li><a class="dropdown-item" href="reservation.html">Reservasjon</a></li>
                            <li><a class="dropdown-item" href="historic.html">Historikk</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/advice-list">Forbedring</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark dropdown-toggle"
                         href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="account.svg" alt="Account" class="account_icon" />
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="register.html">Registrer deg</a></li>
                            <li><a class="dropdown-item" href="signin.html">Logg inn</a></li>
                            <li><a class="dropdown-item" href="signout.html">Logg ut</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="off-screen-menu" >
                    <ul>
                      <li><a href="check.html">Sjekk ledighet</a></li>
                      <li><a href="reservation.html">Reservasjon</a></li>
                      <li><a href="#">Innboks</a></li>
                      <li><a href="advice.html">Melde feil</a></li>
                      <li><a href="#">Kontakt oss</a></li>
                    </ul>
                  </div>
              
                  <nav>
                    <div class="ham-menu ms-auto" >
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </nav>

            </div>
        </div>
    </nav>
</header>

